.nav a {
  color: #5a5a5a;
<<<<<<< HEAD
  font-size: 14px;
=======
  font-size: 11px;
>>>>>>> f3b4499485cadea1850f0cc2d31545cccdb71fcc
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
<<<<<<< HEAD
  background-image:url(shell_wall_paper_s.jpg);
=======
  background-image:url('http://cdn2.bigcommerc');
>>>>>>> f3b4499485cadea1850f0cc2d31545cccdb71fcc
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}